<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
					<li><a href="/blog">Blog</a></li>
					
					<a href="https://www.instagram.com/i_amshrawan/">
                        <img alt="Instagram" src="/images/instagram.png" width=25 height=25 align='right'/>
					</a>
					
					<a href="https://twitter.com/iam_shrawan">
                        <img alt="Twitter" src="/images/twitter.png" width=25 height=25 align='right'/>
					</a>

					<a href="https://www.linkedin.com/in/shrawan-thapa-79b713142/">
                        <img alt="Linkedin" src="/images/linkedin.png" width=25 height=25 align='right' />
					</a>
					
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>
						<a href="mailto:shrawan.thapa0174@gmail.com">
							<img alt='Gmail' src='/images/gmail.png' width=25 height=25 align='left'>
						</a>
					</li>
					<li>
						<a href="https://github.com/shrawan-thapa">
							<img alt='Github' src='/images/github.png' width=25 height=25 align='left'>
						</a>
					</li>
				</ul>
			</footer>
		</body>
	</html>
